
.skills{
    background-color: black;
    display: flex;
    padding-top: 3rem;
    justify-content: space-around;
    flex-wrap: wrap;
}

.skills__title{
    font-size: 3.0rem;
}
.skills__box{
    border: solid;
    border-color: #025E25;
    width: 250px;
    height: 250px;
    margin: 2.5rem;

    
}

.skills__img img{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    align-self: center;
    align-items: center;
}
.skills__name{
    font-family: monospace;
    font-size: 2.5rem;
    color: #025E25;
    text-align: center;
    width: 100%;
}